/* You can add global styles to this file, and also import other style files */
* {
    font-size: 12px;
}

body {
    background: #eee;
    padding: 3rem;
}

.p-card .p-card-body {
    padding: 1rem;
    margin: 2rem;
}